<div class="below-header">
  <button
    type="button"
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#modal"
    onclick="addUserForm(this)"
  >
    Add User
  </button>
</div>

<table class="display dataTable" id="all-users-table">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Email-Id</th>
      <th>Role</th>
      <th>Edit Employee</th>
      <th>Remove Employee</th>
      <th>Assign Reviewers</th>
      <th>Reviewers</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(employee => { %>

    <tr id="row-<%= employee.id %>">
      <td class="user-name"><%= employee.name %></td>
      <td class="user-email"><%= employee.email %></td>
      <td class="user-role"><%= employee.role %></td>
      <td>
        <i
          class="fas fa-user-edit"
          style="color: #1255ca"
          data-bs-toggle="modal"
          data-bs-target="#modal"
          onclick="editUserForm(this,'<%- employee.id %>')"
        ></i>
      </td>
      <td>
        <% if (employee.id==user.id) { %>
         -
        <% } else { %>
          <i
          class="fas fa-user-times"
          style="color: #cf200c"
          onclick="removeUser(this,'<%- employee.id %>')"
        ></i>
        <% } %>
         
      </td>
      <td>
        <i
          class="fas fa-user-plus"
          style="color: #02a0e3"
          data-bs-toggle="modal"
          data-bs-target="#modal"
          onclick="assignReviewersForm(this,'<%- employee.id %>')"
        ></i>
      </td>
      <td>
        <i
          class="fas fa-eye"
          style="color: #038705"
          onclick="goToPage(this,'/user/admin/view-reviewers/<%- employee.id %>')"
        ></i>
      </td>
    </tr>

    <% }) %>
  </tbody>
</table>
