<header id="layout-header">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-brand">
        <a href="/user/admin/home"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="70"
            height="60"
            fill="currentColor"
            class="bi bi-people"
            viewBox="0 0 16 16"
          >
            <path
              d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"
            /></svg
        ></a>
        <% if(title!='Sign In' && title!='Sign Up'){ %>
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Select Forms
          </button>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="<%= user.role.enum === 'Admin' ? '/user/admin/satisfaction-survey' : '/user/employee/satisfaction-survey' %>"
                >Satisfaction survey</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="<%= user.role.enum === 'Admin' ? '/user/admin/pulse-survey' : '/user/employee/pulse-survey' %>"
                >pulse survey
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="<%= user.role.enum === 'Admin' ? '/user/admin/feedback-survey' : '/user/employee/feedback-survey' %>"
                >Feedback form
              </a>
            </li>
          </ul>
        </div>
        <div>
          <a href="/user/Analysis"
            ><button type="button" class="btn btn-primary m" id="btn1">
              Performance
            </button></a
          >
        </div>
        <% } %>
      </div>
      <!-- <div>
        <%if(title!='Sign In' && title!='Sign Up'){%>
        <a href="/user/Analysis"
          ><button type="button" class="btn btn-primary" id="btn1">
            Performance
          </button></a
        >
        <%}%>
      </div> -->

      <form class="d-flex">
        <% if (title!='Sign In' && title!='Sign Up') { %>
        <!-- <div class="logout">
            <i class="fas fa-power-off"></i>
          </div> -->
        <!-- <button type="button" class="btn btn-danger"><i class="fas fa-power-off"></i>&nbsp;&nbsp;</button> -->
        <div class="user-name"><%= user.name %></div>

        <div class="icon">
          <a href="/user/profile">
            <img
              src="<%= user.image %>"
              alt="Profile_image"
              class="profile-logo"
              style="content: icon"
            />
          </a>
        </div>

        <div class="icon">
          <a href="/user/sign-out">
            <i class="fas fa-sign-out-alt logout-icon"></i>
          </a>
        </div>

        <% } else { %> <% if (title=='Sign In') { %>
        <a href="/user/sign-up"
          ><button type="button" class="btn btn-success">SIGN UP</button></a
        >
        <% } else if (title=='Sign Up') { %>
        <a href="/user/sign-in"
          ><button type="button" class="btn btn-success">SIGN IN</button></a
        ><% } %> <% } %>
      </form>
    </div>
  </nav>
</header>
