<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
/>
<link rel="stylesheet" href="/css/admin.css" />

<div class="container main-body">
  <div class="flex-center below-header heading">
    <%= employee.name %><br><%= employee.email %>
  </div>
  <div class="home-body show">
    <table class="display dataTable" id="assign-reviewers-table">
      <thead>
        <tr>
          <th>Employee</th>
          <th>Email-Id</th>
          <th>Feedback</th>
          <!-- <th>Remove Reviewer</th> -->
        </tr>
      </thead>
      <tbody>
        <% employee.reviewers.forEach(reviewer => { %>

        <tr id="row-id">
          <td><%= reviewer.name %></td>
          <td><%= reviewer.email %></td>
          <td>
            <i
              class="fas fa-edit"
              style="color: #1255ca"
              data-bs-toggle="modal"
              data-bs-target="#modal"
              onclick="editFeedbackForm(this,'<%- employee.id %>','<%- reviewer.id %>')"
            ></i>
          </td>
          <!-- <td>
            <i
              class="fas fa-user-times"
              style="color: #cf200c"
              data-bs-toggle="modal"
              onclick="removeReviewer(this)"
            ></i>
          </td> -->
        </tr>

        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="/js/admin.js"></script>
<script src="/js/datatable.js"></script>
